// app global css in SCSS form
@font-face {
  font-family: Poppins;
  src: url(font/Poppins-Regular.ttf);
}
.no-text-decoration {
  text-decoration: none;
}
.carousel-image{
  background-size: contain;
  background-repeat: no-repeat;
}
.bordered-left {
  border-left: 1px solid gainsboro;
}
.bordered-bottom {
  border-bottom: 1px solid gainsboro!important;
}
.bordered-top {
  border-top: 1px solid gainsboro!important;
}
.resizable {
  resize: both;
  max-height: 100vh;
  max-width: 100vw!important;
  overflow: hidden!important;
}

